body {
    background-color: #F4EFE5;
    color: #0C0F18;
    margin: 0;
    font-family: "Roboto", sans-serif;    
    transition: background-color 0.3s, color 0.3s;
}

html.dark body{
  background-color: #0C0F18;
  color: #F4EFE5;
}

html.dark .theme-toggle {
    color: #F4EFE5;
}

.theme-toggle {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom:5px;
    margin-right: 0;
    margin-left: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    transition: background-color 0.3s;
}

.theme-toggle:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* Header/Nav */
nav {
  display: flex;
  gap: 15px;
  padding: 20px;
  background-color: transparent;
  font-family:monospace
}

/* Nav buttons (styled links) */
.nav-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover effect */
.nav-btn:hover {
  cursor: pointer;
  background-color: #373E48;
  border-color: #373E48;
  color: #F4EFE5;
}

/* Active page highlight */
.nav-btn.active {
    background-color: #55606F;
    border-color: black;
    color: #F4EFE5;
}

html.dark .nav-btn{
    color: #F4EFE5
}

html.dark a{
    color: #F4EFE5;
}

a{
    color: #0C0F18;
}

@media (max-width: 600px) {
    .nav-btn {
        font-size: 16px;
        padding: 8px 16px;
    }

    nav{
        justify-content: center;
        flex-wrap: wrap;
    }
}